/* FooterI.css */
.footer-content {
  display: flex;
  background-color: #212121;
  padding: 20px;
  color: #fff;
  text-align: center;
}

.website-name {
  text-align: center;
  font-size: 30px; 
  font-weight: bold;
  color: #FFD700; /* Gold color */
}

.contact-us {
  text-align: left;
}

.contact-us h3 {
  color: #FFD700; /* Gold color */
  font-size: 20px;
  margin-bottom: 10px;
}

.contact-us p {
  color: #ccc; /* Light gray color */
  font-size: 16px;
  margin-bottom: 5px;
}

  
  
